article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
body { color: #666; }
a { color: #87c442; }
a:hover { color: #13d624; text-decoration: none; }
a i, .tools a { color: #bbb; }
a i:hover, .tools a:hover { color: #777; }
ul { margin: 0px; padding: 0px; display: block; list-style: none outside none; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.wrap-content {margin: 0 auto; padding-left: 15px; padding-right: 15px; padding-bottom: 80px; min-width: 690px; max-width: 1030px; width: 84%; }

/* baru */
.wrapper { padding-bottom: 20px; }
.data-content { min-width: 690px; max-width: 1030px; width: 84%; margin: 0px auto; padding: 0 15px; position: relative; }
.grs-right { border-right: 1px solid #ddd; height: 255px; }
.grs-left { border-left: 1px solid #ddd; height: 255px; }
.footer-menu { padding: 25px 0px 50px 20px; }
.info { margin-top: 10px; float: right; }
.divide { border-right: 1px dotted #ddd; margin: 0 5px; }

/*	Header	*/
nav.border { border-top: 1px solid  #dddddd; border-bottom: 2px solid #dddddd; }
nav ul { list-style: none; margin: 0; height: auto; }
nav ul li { display: inline-block; padding: 20px; }
nav a { text-decoration: none; color: #888; }
nav a:hover { text-decoration: none; color: #555; }
.nav-item { position: relative; text-align: left; display: -moz-inline-stack; display: inline-block; vertical-align: middle; *vertical-align: auto; zoom: 1; *display: inline; border-left: 1px solid #dddddd; }
.nav-item > .nav-label { display: block; font-size: 14px; /*padding: 25px 25px;*/ position: relative; }
.content2 {margin: 0 auto; padding-left: 15px; padding-right: 15px; padding-bottom: 80px; min-width: 690px; max-width: 1030px; width: 84%; }
.wrap-header {padding: 0px; position: relative;}
.brand-title { padding: 40px 0 35px; max-width: 60%; }
.tools { float: right; margin-top: 50px; text-align: right; }
.breadcrumb { background-color: transparent; padding: 45px 90px 5px 0px; font-size: 12px; }
.breadcrumb .active { color: #666; }
.content { padding-bottom: 80px; }
.logo { /*padding: 40px 0px 35px; max-width: 50%;*/ }
.page-title { font-size: 35px; padding: 16px 0px 35px; font-weight: 700; border-bottom: 1px solid #ddd; color: #222; }
.article { padding-top: 40px; }
.article-title { font-weight: bold; padding-bottom: 15px ; }
.search { /*display: inline-block;*/ }
.cart { /*display: inline-block;*/ padding: 5px 0px 0px 25px; }
.option-title { padding-bottom: 30px; }
.share-plugin { padding-bottom: 20px; }
.option-cart { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 30px 0 30px; width: 112%; }
#qty-label { display: inline; }
.qty { height: 30px !important; width: 43px; margin-left: 15px; display: inline; }
.option-cart > select { border-color: #87C442; }
.opsi > input[type="text"] { border-color: #87C442; }
.cart-button { display: inline-block; padding: 6px 12px; text-align: center; -moz-user-select: none; border: 1px solid transparent; border-radius: 4px; background-color: transparent; border-color: #87C442; color: #87C442; margin-top: 12px; }
.cart-button:hover { background-color: #13d624; color: #fff; border-color: #13d624; }
.option-cart input[type="text"]:focus{
	border-color: #13d624;
	outline: 0;
	outline: thin dotted \9;
	-webkit-box-shadow: inset 0 1px 1px #13d624, 0 0 8px #13d624;
	   -moz-box-shadow: inset 0 1px 1px #13d624, 0 0 8px #13d624;
	        box-shadow: inset 0 1px 1px #13d624, 0 0 8px #13d624;
}
.product-title { color: #222; font-weight: 700; font-size: 35px; margin: 8px 0px 30px; }
.brand-product { font-size: 14px; margin: 0px; color: #BBB; margin: 8px 0px 30px; }
.product-price { font-size: 18px; }
.option-mobile { display: none; margin-top: 40px; text-align: center; }
.share-mobile { margin: 30px 0px 30px; }
.navbar-inner { background-color: transparent; background-image: none; background-repeat: no-repeat; border: none; border-radius: 0; box-shadow: none; border-top: 1px solid #ddd; border-bottom: 2px solid #ddd; padding-left: 0px; padding-right: 0px; }
.btn-cart, .btn-search { display: none; }
.result-label { margin: 40px 0; font-style: italic; font-size: 14px; }
.title-result { font-size: 16px; }
#search-pos { position: absolute; top: 7px; right: 5px; color: #ddd; }
.search-column { visibility: hidden; min-width: 180px; width: 23%; /*float: right; */margin-top: 80px; position: absolute; z-index: 5000; right: 10px; }
.nav { padding-bottom: 15px; padding-top: 13px; }
.navbar .nav > li:first-child { border-left: none; padding-left: 0px; }
.navbar .nav > li { border-left: 1px solid #DDD; padding-right: 20px; padding-left: 20px; }
.navbar .nav > li > a { padding: 10px 10px; }
.active { visibility: visible; }

/*	Footer	*/
.main-footer { border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.main-footer > div { width: 50%; display: inline-block; vertical-align: middle; height: 255px }
.title { font-size: 14px; color: #BBB; margin-right: 20px; }
.sosmed { display: inline-block; font-size: 30px; padding: 0 5px; }
.sosmed > a { color: #bbb; }
.sosmed > a:hover { color:  #777777; }
.navbar .btn-navbar { float: left; margin-left: 0px; margin-right: 0px; }
.navbar { margin-bottom: 0; }
.contact { color: #bbb; text-align: center; }
.contact > p { margin-right: 20px; }
.email a { color: #bbb; font-size: 14px; }
.email a:hover { color: #777; }
.social { text-align: center; }
.copyright { font-size: 11px; padding: 25px 0px 0px 0px; }
.bank { float: right; padding: 20px 0 0 30px; }
.footer-info { margin-left: 0px; }
.navbar .nav > li > a:hover { border-radius: 0px; }
.btn, .btn:hover, .btn-navbar:hover { background-color: #FFF; border: medium none; background-image: none; box-shadow: none; }
.navbar .btn-navbar, .navbar .btn-navbar { background-color: #fff; background-image: none; }
.mobile-search { margin-top: 152px; position: absolute; z-index: 5000; right: 10px; min-width: 180px; margin-right: 120px; }
input.search-query-mobile {
    margin-bottom: 0px;
    border-radius: 15px;
    width: 440px;
    padding-left: 14px;
    padding-right: 14px;
}
#search-pos-mobile { position: absolute; top: 7px; right: -235px; color: #DDD; }

.navi-item { position: relative; height: 45px; width: 32.3333%; display: inline-block; vertical-align: middle; cursor: pointer; }
.navbar .btn-navbar .icon-bar { box-shadow: none; background-color: #888; }
.navi-item > div span, .navi-item > a span { display: block; text-align: center; }
.navi-item > a { color: #bbb; }
.navbar-inner .container > ul > li { border-left: 1px solid #ddd; }
.navbar-inner .container > ul > li:first-child { border-left: none; }
.btn-nav { position: relative; margin-top: 8px; margin-bottom: 8px; }
.stripe-bar { background-color: #888; display: block; width: 22px; height: 2px; border-radius: 1px; }
.stripe-bar + .stripe-bar { margin-top: 4px; }
.navi-item .fa-search, .navi-item .fa-bars, .navi-item .fa-shopping-cart { font-size: 1.5em; }

/* Large desktop */
@media (min-width: 1200px) {
	.wrap-content { padding-bottom: 50px; }
	/*.logo { max-width: 100%; }*/
	.contact { padding: 25px 0px 50px; }
	.social { padding: 25px 0px 45px; }
	.navbar-inner .container > ul { display: none; }
}

@media (min-width: 980px) and (max-width: 1199px) {
	.wrap-content { padding-bottom: 50px; }
	/*.logo { max-width: 100%; }*/
	.contact { padding: 25px 0px 50px; }
	.social { padding: 25px 0px 45px; }
	.copyright { padding: 25px 0px 0px 0px; }
	.navbar-inner .container > ul { display: none; }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.wrap-content { padding-bottom: 50px; }
	/*.logo { max-width: 100%; }*/
	.tools { display: none; }
	.contact { padding: 25px 0px 55px; }
	.social { padding: 25px 0px 50px; margin-left: 0px; }
	.copyright { padding: 25px 30px 0px 0px; }
	.bank { padding: 25px 0px; position: absolute; }
	.btn-cart, .btn-search { display: inline-block; }
	.navbar-inner > .container a { margin-left: 70px; margin-right: 70px; }
	.nav-collapse .nav { margin-left: -65px; margin-right: -70px; margin-bottom: 0px; padding-bottom: 0px; }
	.desc-title { font-size: 18px; }
	.navbar .nav > li { padding-left: 0px; padding-right: 0px; border-left: none; border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
	.navbar .nav > li > a { text-shadow: none; color: #ddd; padding: 19px 15px; width: 74%; display: block; margin: 0 auto; }
	.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover { background-color: transparent; }
	.nav-collapse, .nav-collapse.collapse { background-color: #222; margin-left: -70px; margin-right: -70px; }
	.info { margin-top: 70px; }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.wrap-content { padding-bottom: 50px; }
	/*.logo { max-width: 70%; }*/
	.tools { display: none; }
	.contact { padding: 30px 0 40px; /*border-right: none;*/ border-bottom: 1px solid #ddd; }
	.grs-right { border-right: none; }
	.social { padding: 30px 0 40px; }
	.footer-menu { border-bottom: 1px solid #ddd; text-align: center; }
	.btn-cart, .btn-search { display: inline-block; }
	.navbar-inner > .container a { margin-left: 70px; margin-right: 70px; }
	.copyright { text-align: center; }
	.bank { float: none; text-align: center; }
	.title { margin-right: 0px; }
	.contact > p { margin-right: 0px; }
	.nav-collapse .nav { /*margin-left: -65px; margin-right: -70px; margin-bottom: 0px; */padding-bottom: 0px; }
	.navbar .nav > li { padding-left: 0px; border-left: none; border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
	.navbar .nav > li > a { text-shadow: none; color: #ddd; padding: 19px 15px; }
	.nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover { background-color: transparent; }
	.nav-collapse, .nav-collapse.collapse { background-color: #222; margin-left: -80px; margin-right: -80px; }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	/*	baru  */
	.wrapper { padding-bottom: 0px; }
	.data-content { min-width: 100%; padding: 0; /*padding-bottom: 0px; padding-left: 15px; padding-right: 15px;*/ }
	.copyright { padding: 0px 15px 0px; }
	/* ---------- */

	.wrap-content { min-width: 100%; padding-bottom: 0px; padding-left: 15px; padding-right: 15px; }
	.brand-title { padding: 0px 0px 20px; margin-top: 5px; display: block; margin-left: auto; margin-right: auto; text-align: center; }
	/*.wrap-header { padding: 0px; position: relative; }*/
	.tools { display: none; }
	.breadcrumb { display: none; }
	.page-title { border-bottom: none; text-align: center; padding: 50px 0px; }
	.article { padding-top: 0px; }
	.logo { padding: 40px 0px 20px; /*max-width: 100%;*/ }
	.content { padding-bottom: 50px; }
	.main-footer { margin-bottom: 30px; }
	.contact { padding: 25px 0px 40px; /*border-right: none;*/ border-bottom: 1px solid #ddd; }
	.grs-right { border-right: none; }
	.social { padding: 25px 0px 45px; }
	.main-footer > li { width: 100%; height: auto; border-left: medium none; padding: 0px 0px 45px; }
	.bank { display: none; }
	.navbar-inner > .container a { margin-left: 20px; margin-right: 20px; }
	.btn-cart, .btn-search { display: inline-block; }
	.nav-collapse .nav { margin-left: -15px; margin-right: -15px; }
	.option-mobile { display: block; }
	.option-title, .share-plugin { display: none; }
	.option-cart > select, .cart-button { width: 100%; }
	.option-cart { padding-bottom: 42px; }
	.opsi { display: block; }
	.qty { margin-left: 0px; }
	.desc-title { font-size: 18px; margin-top: 15px; }
	#qty-label { display: block; }
	.navbar .nav > li > a { text-shadow: none; color: #ddd; padding-left: 50px; }
	.nav-collapse, .nav-collapse.collapse { background-color: #222; margin-left: -40px; margin-right: -40px; }
	.info { float: none; text-align: center; }
}

@media (max-width: 320px) {
	.navbar-inner > .container a { margin-left: 18px; margin-right: 20px; }

}

@media (max-width: 240px) {
	.navbar-inner > .container a { margin-left: 5px; margin-right: 7px; }
	.copyright { padding: 0px 20px; }
	.page-title { font-size: 25px; }
}